
<link rel="stylesheet" href="/static/style.css">
<div class="nav"><div class="logo">🎮 RetroArchive</div><div>{% if user %}<a href="/favorites">Избранное</a><span class="uname">{{user.username}}</span><a href="/logout">Выйти</a>{% else %}<a href="/">Главная</a><a href="/login">Вход</a><a href="/register">Регистрация</a>{% endif %}</div></div>
<div class="auth">
<h1>{{title}}</h1>
<form method="post">
<input name="username" placeholder="Логин">
<input type="password" name="password" placeholder="Пароль">
<button>{{btn}}</button>
</form>
<p class="auth-link">
{% if title == "Вход" %}
Нет аккаунта? <a href="/register">Зарегистрироваться</a>
{% else %}
Уже есть аккаунт? <a href="/login">Войти</a>
{% endif %}
</p>
</div>
